<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/styles/nav-bar.css" />
    </head>

    <div class="nav-bar">
        <div class="left-section">
            <img src="/public/images/logo1.png" alt="Your Logo" class="logo" />
            <span class="name" onclick="window.location.href = '/'"
                >Fresh Bites</span
            >
        </div>
        <ul>
            <li class="dropdown">
                <a href="pages/about-us.html"> About Us </a>
                <ul class="dropdown-content">
                    <li><a href="pages/about-us.html">About Us</a></li>
                    <li>
                        <a href="pages/how-it-works.html">How it Works</a>
                    </li>
                </ul>
            </li>
            <li><a href="pages/our-plans.html">Our Plans</a></li>
            <li class="dropdown">
                <a href="pages/menu.html"> Our Menu </a>
                <ul class="dropdown-content">
                    <li><a href="pages/menu.html">Our Menu</a></li>
                    <li><a href="pages/Cookbook.html">Cook Book</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="pages/sustaibility.html">Sustainability</a>
                <ul class="dropdown-content">
                    <li>
                        <a href="pages/sustaibility.html">Sustainability</a>
                    </li>
                    <li><a href="pages/sourcing.html">Sourcing</a></li>
                </ul>
            </li>

            <li class="dropdown user-dropdown">
                <!-- Added user-dropdown class -->
                <a href="pages/User.html"
                    ><i class="fas fa-user-circle"></i
                ></a>
                <ul class="dropdown-content">
                    <li><a href="pages/user.html">Account Info</a></li>
                    <li>
                        <a href="pages/favoriteMeals.html"
                            >Favorite Meals</a
                        >
                    </li>
                    <li><a href="pages/history.html">Orders History</a></li>
                    <li>
                        <a href="#" id="logoutButton" onclick="logout()"
                            >Logout</a
                        >
                    </li>
                </ul>
            </li>
        </ul>
        <!-- Closed ul tag -->
    </div>
</html>
