body {
    font-family: "Roboto", sans-serif;
  }
  
  .container {
    display: flex;
  }
  
  aside {
    width: 250px;
    color: #fff;
  }
  
  .main {
    flex: 1;
    padding: 20px;
  }
  
  .table-container {
    width: 100%;
    overflow-x: auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  thead {
    background-color: #f2f2f2;
  }
  
  thead th {
    padding: 10px;
    text-align: left;
    font-weight: bold;
  }
  
  tbody tr {
    border-bottom: 1px solid #ddd;
  }
  
  tbody td {
    padding: 10px;
    text-align: left;
  }
  
  tbody td img {
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
  #addProductBtn {
    margin-left: 62em;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #addProductBtn:hover {
    background-color: #218838;
  }
  
  .close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close-btn:hover,
  .close-btn:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  form {
    display: flex;
    flex-direction: column;
  }
  
  form label {
    margin-bottom: 5px;
  }
  
  form input,
  textarea {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #e4e3e397;
  }
  
  form button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    transition: background-color 0.3s ease;
  }
  
  form button:hover {
    background-color: #218838;
  }
  select {
    padding: 10px;
    background-color: #e4e3e397;
    border-radius: 5px;
  }
  
  .delete-button {
    background-color: red;
    cursor: pointer;
    color: white;
    padding: 15px;
    border-radius: 7px;
  }
  .delete-button:hover {
    background-color: rgb(214, 4, 4);
  }
  .fas.fa-pen:hover {
    cursor: pointer;
  }
  
  /*Deletion popup*/
  .delete {
    display: none;
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .deletion-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    width: 30%;
    text-align: center;
    border-radius: 8px;
  }
  
  .confirm-delete-button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  .confirm-delete-button:hover {
    cursor: pointer;
    background-color: rgb(173, 8, 8);
  }
  .cancel-button {
    background-color: gray;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  .cancel-button:hover {
    cursor: pointer;
    background-color: rgb(109, 109, 109);
  }
  #confirmDeleteForm {
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
  }