.main {

    width: 70em;
    padding: 20px;
    background-color: #fff;
}

.dashboard-section {
    background-color: var(--clr-white);
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: var(--border-radius-2);
    box-shadow: var(--box-shadow);
}

.dashboard-section {
    background-color: var(--clr-white);
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: var(--border-radius-2);
    box-shadow: var(--box-shadow);
    transition: transform 0.3s ease;
}

.dashboard-section:hover {
    transform: translateY(-5px);
}

.latest-users-section {
    overflow: hidden; 
}

.latest-users .user {
    border-bottom: 1px solid #f19f13;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    transition: transform 0.3s ease;
}

.latest-users .user:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.latest-users .user:hover {
    transform: scale(1.02); 
}

.dashboard-section .overview {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.dashboard-section .stat {
    text-align: center;
    color: #fff;
    padding: 1rem;
    border-radius: 8px;
    flex: 1; 
    margin: 0 0.5rem; 
}

.dashboard-section .visitors {
    background-color: #f19f13; 
}

.dashboard-section .admins {
    background-color: #167592;
}

.dashboard-section .users {
    background-color: #81d0e8; 
}

.dashboard-section .stat i {
    font-size: 2rem;
}

.dashboard-section .stat .count {
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

.dashboard-section .stat .label {
    font-size: 0.8rem;
    text-transform: uppercase;
    margin-top: 0.5rem;
}