body {
  font-family: "Roboto", sans-serif;
  background-color: #f0f0f0;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  min-height: 100vh;
}

aside {
  width: 250px;
}

.main {
  flex-grow: 1;
  padding: 20px;
  width: 30cm;
  background-color: #fff;
}

#heading {
  margin-bottom: 20px;
  padding: 10px;
  text-align: left;
  background-color: transparent;
  font-size: 24px;
  font-weight: bold;
  color: black;
  border-radius: 5px;
}

.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews .review {
  margin-bottom: 20px;
  padding: 15px;
  background-color: #ecf0f1;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.reviews .review .name {
  font-weight: bold;
  margin-bottom: 5px;
  color: #2980b9;
}

.reviews .review p {
  margin: 0;
  color: #333;
  font-style: italic;
  text-align: center;
}
