body {
  background-color: #f7f7f7;
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
 margin-top: 3cm;
}

h1,
h2 {
  color: #f19f13;
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

.tags{
  background-color: #23596982;
  color: #f7f7f7;
  padding: 10px;
  border-radius: 7px;
}
.total-divider {
  border: 1px solid #167592;
  margin: 20px 0px 30px 0px;
}
.order-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.orders-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.orders-list li {
  background-color: #81d0e882;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
}

.orders-list li h3 {
  color: #f19f13;
  margin: 0;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.orders-list li p {
  font-size: 1rem;
  line-height: 1.5;
  margin: 10px 0;
}

.orders-list li strong {
  color: #020000;
}

ul.orders-list li {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

section {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
  margin-bottom: 60px;
}

section h2 {
  border-bottom: 2px solid #81d0e8;
  padding-bottom: 10px;
  margin-bottom: 30px;
  font-size: 2rem;
}

.noOrders {
  font-size: x-large;
  font-weight: bolder;
  text-align: center;
  color: #167592;
  margin-top: 40px;
}

.dish-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  padding: 10px;
  margin: 10px 0;
  margin-left: 1.5cm;
}

.dish-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.dish-list li:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.dish-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.dish-list li strong {
  color: #333;
  font-size: 1.1rem;
  text-align: center;
  margin-top: 10px;
}

ul.orders-list li {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  padding: 20px;
  background-color: #81d0e882;
  border-radius: 10px;
  margin-bottom: 20px;
}

.order-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.rate{
  background-color: #f19f13;
  color: #f7f7f7;
  font-family: "Arial", sans-serif;
  font-size: medium;
  border: none;
  padding: 10px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.rate:hover{
  transform: translateY(-10px);
  cursor: pointer;
}
.fas{
  color: #f7f7f7;
}