body {
  background-color: #f7f7f7;
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 3cm;
}

h1,
h2 {
  color: #f19f13;
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

.tags {
  background-color: #23596982;
  color: #f7f7f7;
  padding: 10px;
  border-radius: 7px;
}
.total-divider {
  border: 1px solid #167592;
  margin: 20px 0px 30px 0px;
}
.order-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.orders-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.orders-list li {
  background-color: #81d0e882;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
}

.orders-list li h3 {
  color: #f19f13;
  margin: 0;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.orders-list li p {
  font-size: 1rem;
  line-height: 1.5;
  margin: 10px 0;
}

.orders-list li strong {
  color: #020000;
}

ul.orders-list li {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

section {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
  margin-bottom: 60px;
}

section h2 {
  border-bottom: 2px solid #81d0e8;
  padding-bottom: 10px;
  margin-bottom: 30px;
  font-size: 2rem;
}

.noOrders {
  font-size: x-large;
  font-weight: bolder;
  text-align: center;
  color: #167592;
  margin-top: 40px;
}

.dish-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  padding: 10px;
  margin: 10px 0;
  margin-left: 1.5cm;
}

.dish-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.dish-list li:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.dish-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.dish-list li strong {
  color: #333;
  font-size: 1.1rem;
  text-align: center;
  margin-top: 10px;
}

ul.orders-list li {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  padding: 20px;
  background-color: #81d0e882;
  border-radius: 10px;
  margin-bottom: 20px;
}

.order-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.cancelOrder {
  background-color: red;
  color: #f7f7f7;
  font-family: "Arial", sans-serif;
  font-size: medium;
  border: none;
  padding: 10px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}
.cancelOrder:hover {
  transform: translateY(-10px);
  cursor: pointer;
}
.rate {
  background-color: #f19f13;
  color: #f7f7f7;
  font-family: "Arial", sans-serif;
  font-size: medium;
  border: none;
  padding: 10px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.rate:hover {
  transform: translateY(-10px);
  cursor: pointer;
}
.fas {
  color: #f7f7f7;
}

.rating-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 30%;
  position: relative;
}

.ratingForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.ratingForm label {
  margin-bottom: 10px;
}

.ratingForm input[type="number"] {
  margin-bottom: 20px;
  padding: 8px;
  width: 30%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.ratingForm button {
  font-family: "Arial", sans-serif;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #81d0e8;
  color: white;
  cursor: pointer;
}
.ratingForm button:hover {
  background-color: #167592;
  transition: all 0.5s ease;
}

.stars {
  display: inline-block;
}

.stars i {
  color: #ccc;
}

.stars i.filled {
  color: rgb(254, 192, 38);
}

/* Cancel Modal */
.cancel-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
}

.cancel-modal h2 {
  color: red;
  margin-bottom: 15px;
}

.fa-exclamation-circle {
  color: #f7f7f7;
  background-color: red;
  border-radius: 50%;
  padding: 5px;
  font-size: 4rem;
}

.content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 40%;
  text-align: center;
}

.cancelForm {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin-top: 20px;
}

#text {
  font-size: large;
  font-weight: bold;
  margin-bottom: 50px;
}

.confirm {
  font-family: "Arial", sans-serif;
  font-size: large;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: red;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 60px;
  margin-top: 40px;
}

.confirm:hover {
  background-color: rgb(168, 1, 1);
}

.cancel {
  font-family: "Arial", sans-serif;
  font-size: large;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: rgb(119, 117, 117);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cancel:hover {
  background-color: rgb(88, 88, 88);
}
