    body {
        margin: 0;
    }

    .logo {
        height: 3.5rem;
        width: 3.5rem;
    }


    /* Feedback Icon */
    #feedbackIcon {
        position: fixed;
        top: 300px;
        right: 0px;
        width: 35px;
        height: 100px;
        cursor: pointer;
        border-radius: 10%;
    }

    #overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
        z-index: 999;
    }

    /* Feedback Content */
    #feedbackContent {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 10px;
        padding: 80px 60px 60px 60px;
        width: 300px;
        max-width: 90%;
        text-align: center;
    }

    #textArea {
        height: 80px;
        width: 100%;
        max-width: 100%;
        resize: none;
        border-radius: 10px;
        border: 1px solid #ddd;
        padding: 10px;
        margin-top: 10px;
    }

    #feedback {
        display: none;
        margin-top: 20px;
    }

    /* EXIT BUTTON */
    .exit {
        position: absolute;
        top: 10px;
        right: 10px;
        border-radius: 50%;
        border: none;
        background-color: #fff;
        cursor: pointer;
        height: 30px;
        width: 30px;
        font-weight: bold;
        color: #666;
        transition: color 0.3s ease;
    }

    .exit:hover {
        color: red;
        font-weight: bold;
    }

    .button-row {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }

    .choice {
        position: relative;
        font-size: 1em;
        font-weight: 500;
        color: #000000;
        text-decoration: none;
        padding: 10px 20px;
        background: transparent;
        border: 2px solid #f19f13;
        border-radius: 30px;
        margin: 10px;
        cursor: pointer;
        transition: color 0.3s, background-color 0.3s, border-color 0.3s;
    }

    .choice:hover {
        color: #ffffff;
        background-color: #f1a013a9;
        border-color: #f19f13;
    }

    .choice span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        border-radius: 30px;
        opacity: 0;
        transition: transform 0.3s, opacity 0.3s;
    }

    .choice:hover span {
        transform: scale(1.1);
        opacity: 1;
    }

    #submit-btn {
        position: absolute;
        bottom: 10px;
        right: 10px;
        font-size: 16px;
        font-weight: 500;
        color: #ffffff;
        background-color: #71a1d1;
        border: none;
        border-radius: 5px;
        padding: 8px 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    #submit-btn:hover {
        background-color: #31d42b;
    }

    

    /* MENU */

    .menu {
        align-items: center;
        display: flex;
        width: 208vh;
        min-height: 100vh;
        background-position: right right;
        background-attachment: fixed;
        background-size: cover;
        align-items: center;
        text-align: center;
    }

    /* SEARCH */
    .searchPart {
        display: flex;
        justify-content: center;
        position: absolute;
        top: 25%;
        left: 30%;
    }

    .searchDiv {
        position: relative;
    }

    #SearchW {
        height: 6vh;
        width: 550px;
        border-radius: 50px;
    }

    #searchB {
        left: 50%;
        margin-left: 40px;
        border-radius: 50%;
        width: 40px;
        height: 40px;
    }

    .errorMsg {
        color: red;

        padding-top: 8%;
        padding-right: 12%;

        position: absolute;
    }

    /*PAGE TITLE*/
    #titleM {
        color: #136b85;
        font-size: 2em;
        font-weight: 500;
        top: 33%;
        left: 36%;
        justify-content: center;
        position: absolute;
    }

    .icon {
        padding-right: 10px;
    }

    .buttons {
        margin-top: 4vh;
        justify-content: center;
        display: flex;
        position: absolute;
        align-items: center;
        left: 36%;
        top: 42%;
    }

    button {
        display: inline-block;
        background-color: transparent;
        border-radius: 50px;
        border: 2px solid #f19f13;
        font-style: oblique;
        height: 40px;
        width: 90px;
        margin: 0 2px;
        transition: ease-out 0.3s;
        outline: none;
        color: #755825;
    }

    button:hover {
        box-shadow: inset 90px 0 0 0 #fabf58;
    }

    .selectedB {
        background-color: #f6e1bf;
    }

    /* ITEMS(RECIPES) */
    .items-container {
        display: flex;
        flex-wrap: wrap;
        margin-top: 55px;
        padding-top: 20%;
        padding-left: 15%;
    }

    .items {
        background-color: #b0dae7;
        border: 5px solid transparent;
        width: 15em;
        box-shadow: 0 5px 25px black;
        border-radius: 70px;
        padding: 5px;
        margin: 50px;
        min-height: 10em;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        animation: backInLeft;
        animation-duration: 2s;
        transition: all 0.3s ease;
    }

    .items,
    img {
        border-radius: 70px;
    }

    .items:hover {
        transform: scale(1.1);
        background-color: #eeb655;
      
    }

    .item,
    img {
        width: 100%;
        height: auto;
    }

    #itemName {
        color: rgb(48, 111, 147);
        cursor: pointer;
        font-size: 20px;
    }

    .duration {
        color: #020000;
        left: 0;
        justify-content: left;
        display: flex;
    }

    .Features {
        display: flex;
        justify-content: space-evenly;
    }

    /* MODALS */
    .modal {
        display: none;
        position: fixed;
        z-index: 999;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.6);
    }

    .modal-content {
        background-color: #f7f7f7;
        margin: auto;
        margin-top: 3%;
        padding: 20px;
        border-radius: 50px;
        width: 80%;
        max-width: 600px;
        position: relative;
    }

    /* cCLOSING OF MODAL */
    .close {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 20px;
        cursor: pointer;
        padding-right: 13px;
        padding-top: 10px;
    }

    .close:hover {
        color: #aaa;
    }

    /* MODAL'S CONTENT */
   

    .modal-content.ingredients {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .modal-content.ingredients,
    span.ing {
        display: inline-block;
        text-align: center;
        margin: 20px;
    }

    .ingredients,
    p {
        color: #020000;
    }

    ul {
        list-style: circle;
    }

    li,
    th {
        color: #020000;
    }

    .List {
        display: flex;

        flex-wrap: wrap;
    }

    .utensList,
    li {
        margin-right: 45px;
        margin-bottom: 10px;
    }

     
    /*NUTRITION ACCORDION */

    .accordion-content {
        margin-bottom: 10px;
        
    }
    
    .accordion-header {
        background-color:#f7f7f7 ;
        color: #000000;
        cursor: pointer;
        padding: 10px;
        border-radius: 8px;
        height: 30px;
        align-items: center;
        padding-top: 2%;
        border:1px #000000 solid;
        width:88%;
        margin-left: 20px;
        font-size: 30px;
        color:rgb(77, 149, 191);
    }

    .accordion-header:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        border: 3px solid var(--secondary-color);
    }
    
    .accordion-i{
        padding-left: 70%;
        font-size: 25px;
    }
    
    .content-description {
        max-height: 0;
        background-color:#7cd6f177;
        overflow: hidden;
        width:92%;
        margin-left: 20px;
        border-radius: 8px;
        transition: max-height 0.2s ease-out;
    }

    /*CARDS INSIDE MODAL*/
    :root {
        --secondary-color:orange;
    }
    .card {

    border: 1px solid #000000;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 15px;
    transition: all 0.6s;
    }

    .card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border: 3px solid var(--secondary-color);
    }

    .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    color:rgb(77, 149, 191);
    }

    .card-content {
    margin-top: 15px;
    }

    .card-content ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-left: 20px;
    }

    .card-content li {
    margin-bottom: 10px;
    }

    /* NUTRITION TABLE */
    table {
        width: 80%;
        max-width: 700px;
        table-layout: fixed;
        margin: auto;
        text-align: left;
        margin-top: 50px;
        border-collapse: collapse;
        box-shadow: 0px 0px 10px 1px rgb(0 0 0 / 15%);
        border-radius: 10px;
        overflow: hidden; 
        line-height: 2.5rem;
    }

    th {
        background-color: AliceBlue;
        padding: 10px;
    }

    th,
    td {
        padding: 10px;
    }

    .indicator-container {
        display: flex;
        align-items: center;
    }

    .indicator {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 5px;
    }

    .indicator-text {
        font-size: 0.8rem;
        font-weight: bold;
    }

    /* Rating */
    .rate {
        margin-top: 10px;
    }

    .star {
        font-size: 24px;
        color: gray;
        display: inline-flex;
    }

    .star.selected {
        color: gold;
        border: none;
    }

    /* Favourite part */

    .Fbtn {
        border-color: transparent;
        display: flex;
        justify-content: right;
        margin-top: 29px;
        cursor: pointer;
    }

    .Fbtn:hover {
        box-shadow: none;
    }

    /* cart part */

    .overlayCart {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.6);
        display: none;
        justify-content: right;
        align-items: center;
        z-index: 2;
    }

    .popWindow-cart {
        background-color: #c4d2d7;
        border-radius: 10px;
        width: 30%;
        height: 100%;
        justify-content: right;
        position: relative;
        overflow: auto;
        z-index: 1;
        animation: backInRight;
        animation-duration: 2s;
    }

    /* cart icon */
    #cart {
        border: transparent;
        box-shadow: none;
    }

    .addBtn {
        border-color: transparent;
        display: flex;
        justify-content: right;
        margin-top: 29px;
        cursor: pointer;
        justify-content: space-evenly;
    }

    .addBtn:hover {
        box-shadow: none;
    }

    #removeFromCart-B {
        display: none;
        box-shadow: none;
    }

    .popWindow,
    h1 {
        margin-top: 60px;
        color: #0d4a5c;
    }

    .popWindow,
    h3 {
        margin-top: 20px;
        color: #286e83;
    }

    .noAnimation {
        animation: none;
    }

    .closeB {
        position: absolute;
        justify-content: center;
        top: 6%;
        left: 85%;
        border: transparent;
        box-shadow: none;
    }

    .closeB:hover {
        box-shadow: none;
    }

    #cartContent {
        justify-content: center;
        font-style: oblique;
        font-size: 1.5em;
        padding-top: 0px;
        align-items: center;
    }

    /* after adding to cart */
    .message {
        position: fixed;
        top: 89%;
        right: 70%;
        width: 290px;
        font-size: 20px;
        border-radius: 4px;
        border-left: 10px solid #136b85;
        overflow: hidden;
        animation: backInLeft;
        animation-duration: 2s;
        padding: 20px 40px;
        background-color: #c7dde2;
        z-index: 2;
        display: none;
    }

    #check {
        position: absolute;
        font-size: 30px;
    }

    .text {
        color: #136b85;
    }

    .closeMsg {
        position: absolute;
        right: 5%;
        font-size: 10px;
        padding: 8px 12px;
        border-radius: 50%;
        cursor: pointer;
    }

    #headerC {
        display: none;
        padding-left: 40px;
        padding-bottom: 4px;
    }

    #CloseCart {
        margin-top: 300px;
        color: #755825;
    }

    #CloseCart:hover {
        box-shadow: inset 90px 0 0 0 #e6be79;
    }

    
   /*Rotating Plates Images*/
    .rotate-container1 {
        width: 200px;
        height: 200px;
        position: absolute;
        top: 20%;
    }

    #rotatingImg1 {
        width: 110%;
        height: 110%;
        position: absolute;
        justify-content: flex-start;
        border-radius: 50%;
        animation: rotate 15s linear infinite;
    }

    .rotate-container2 {
        width: 400px;
        height: 500px;
        position: absolute;
        left: 73.5%;
        overflow: hidden;
        top: 100%;
    }

    #rotatingImg2 {
        width: 500px;
        height: 500px;
        position: absolute;
        justify-content: flex-start;
        border-radius: 50%;
        animation: rotate 15s linear infinite;
        overflow: hidden;
    }

    .rotate-container3 {
        width: 400px;
        height: 500px;
        position: absolute;
        right: 85%;
        overflow: hidden;
        top: 180%;
    }

    #rotatingImg3 {
        width: 500px;
        height: 500px;
        position: absolute;
        justify-content: flex-end;
        border-radius: 50%;
        right: 0;
        animation: rotate 15s linear infinite;
        overflow: hidden;
    }

    .rotate-container4 {
        width: 400px;
        height: 500px;
        position: absolute;
        left: 73%;
        overflow: hidden;
        top: 260%;
    }

    #rotatingImg4 {
        width: 500px;
        height: 500px;
        position: absolute;
        justify-content: flex-start;
        border-radius: 50%;
        animation: rotate 15s linear infinite;
        overflow: hidden;
    }


    
    @keyframes rotate {
        form {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }






   