@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');


.nav-bar {
    position: fixed;
    width: 100%;
    margin: auto;
    height: 10%;
    color: #167592;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
    padding: 20px;
    transition: background-color 0.3s ease;
    top: 0px;
    background-color: white;
}

.left-section {
    display: flex;
    align-items: center;
}

.logo {
    height: 55px;
}

.logo:hover {
    cursor: pointer;
}

.name {
    margin-left: 15px;
    font-size: 27px;
    font-family: Pacifico;
}

.name:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #167592;
    font-family: Roboto;
}

.nav-bar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.nav-bar ul li a {
    text-decoration: none;
    color: #167592;
    text-transform: uppercase;
}

.nav-bar ul li::after {
    content: "";
    height: 3px;
    width: 0;
    background: #167592;
    position: absolute;
    left: 0;
    bottom: -1px;
    transition: 0.5s;
    color: white;
}

.nav-bar ul li:hover::after {
    width: 100%;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    margin-top: 5px;
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 120px;
    z-index: 1000;
    list-style: none;
    padding: 0;
    color: white;
}

.dropdown-content li {
    padding: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* Responsive Adjustments */


.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #81d0e8;
    min-width: 120px;
    z-index: 1000;
    list-style: none;
    padding: 0;
    
}
.dropdown-user-dropdown{
    display: none;
    position: absolute;
    background-color: #81d0e8;
    min-width: 120px;
    z-index: 1000;
    list-style: none;
    padding-right: 20px;
    left: -100%; /* Position dropdown to the left of the parent li */
    top: 100%; /* Align dropdown below the parent li */
}



/* Adjust only for user icon dropdown */
.dropdown.user-dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #81d0e8;
    min-width: 120px;
    z-index: 1000;
    list-style: none;
    padding: 0;
    left: -100%; /* Position dropdown to the left of the parent li */
    top: 100%; /* Align dropdown below the parent li */
}

.dropdown.user-dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content li {
    padding: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.fas.fa-user-circle {
    font-size: 1.5rem;
    margin-right: 30px;
}