/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
}

/* */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
.banner {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.nav-bar {
  position: fixed;
  width: 100%;
  margin: auto;
  height: 10%;
  color: #167592;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
  padding: 20px;
  transition: background-color 0.3s ease;
  top: 0; /* Ensure it stays at the top */
}

.nav-bar.scrolled {
  backdrop-filter: blur(5px);
  background-color: #81d0e888; /* Change background color to a darker shade */
}

.left-section {
  display: flex;
  align-items: center;
}

.logo {
  height: 55px;
}

.name {
  margin-left: 15px;
  font-size: 27px;
  font-family: Pacifico;
}

a {
  text-decoration: none;
  color: #167592;
  font-family: Roboto;
}

.banner ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.banner ul li a {
  text-decoration: none;
  color: #167592;
  text-transform: uppercase;
}

.banner ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: #81d0e8;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.banner ul li:hover::after {
  width: 100%;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  margin-top: 10px;
  display: none;
  position: absolute;
  background-color: #81d0e8;
  min-width: 120px;
  z-index: 1000;
  list-style: none;
  padding: 0;
}

.dropdown-content li {
  padding: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/* Section styles */
.section-title {
  font-size: 48px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #fff; /* Text color */
  text-shadow: 4px 4px 0 #333; /* Shadow to create the illusion of depth */
  padding: 20px;
  border-radius: 10px;
}

.sourcing {
  background-image: url("../images/sourcing/sourcingveg.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 100px 0;
}

.sourcing-text {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #fff; /* Text color */
  text-shadow: 4px 4px 0 #333; /* Shadow to create the illusion of depth */
  padding: 20px;
  border-radius: 10px;
}

/* Add new styles for philosophy section */
.philosophy {
  background-color: #81d0e8; /* Set background color */
  padding: 100px 0; /* Adjust padding */
}

.philosophy-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.philosophy-text {
  flex: 1; /* Occupy remaining space */
  margin-right: 20px; /* Add margin between text and icon */
}

.philosophy-icon img {
  max-width: 100px; /* Adjust icon size */
  height: auto; /* Maintain aspect ratio */
}

/* Add styles for products section */
.products {
  background-color: #d3d0d0;
  padding: 100px 0;
}

.product-buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.product-button {
  background-color: transparent;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.product-button.active {
  background-color: #f19f13;
  color: white;
}

.product-content {
  display: flex;
  flex-direction: column;
}

.product-info {
  display: none;
  flex-direction: row;
  align-items: center;
}

.product-info.active {
  display: flex;
}

.product-info h3 {
  margin-bottom: 10px;
}

.product-image {
  width: 500px;
  height: 500px;
  margin-right: 20px;
}

.product-description {
  max-width: 600px;
}

.sustainability {
  background-color: #167592; /* Set background color */
  padding: 100px 0; /* Adjust padding */
  text-align: center; /* Center align text */
}

.sustainability-link {
  color: #fff; /* Set text color */
  text-decoration: none; /* Remove default underline */
  font-size: 24px; /* Set font size */
  transition: color 0.3s; /* Smooth color transition on hover */
}

.sustainability-link:hover {
  color: #f19f13; /* Change color on hover */
}

/* Feedback Icon */
#feedbackIcon {
  position: fixed;
  top: 300px;
  right: 0px;
  width: 35px;
  height: 100px;
  cursor: pointer;
  z-index: 1000;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 999;
}

/* Feedback Content */
#feedbackContent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 80px 60px 60px 60px;
  width: 400px;
  max-width: 90%;
  text-align: center;
}
#feedbackContent h2 {
  font-family: "Poppins", sans-serif;
}
#textArea {
  height: 80px;
  width: 100%;
  max-width: 100%;
  resize: none;
  border-radius: 10px;
  border: 1px solid #ddd;
  padding: 10px;
  margin-top: 10px;
}

#feedback {
  display: none;
  margin-top: 20px;
}
#feedback h4 {
  font-family: "poppins", sans-serif;
}
/* Exit Button */
.exit {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  border: none;
  background-color: #fff;
  cursor: pointer;
  height: 30px;
  width: 30px;
  font-weight: bold;
  color: #666;
  transition: color 0.3s ease;
}

.exit:hover {
  color: red;
  font-weight: bold;
}

.button-row {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.choice {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #000000;
  text-decoration: none;
  padding: 10px 20px;
  background: transparent;
  border: 2px solid #f19f13;
  border-radius: 30px;
  margin: 10px;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}

.choice:hover {
  color: #ffffff;
  background-color: #f1a013a9;
  border-color: #f19f13;
}

.choice span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 30px;
  opacity: 0;
  transition: transform 0.3s, opacity 0.3s;
}

.choice:hover span {
  transform: scale(1.1);
  opacity: 1;
}

.choice.selected {
  background-color: #f1a013a9;
  border-color: #f19f13;
  color: #ffffff;
}

#submit-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  background-color: #71a1d1;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#submit-btn:hover {
  background-color: #31d42b;
}
.error {
  color: red;
  font-size: 90%;
  max-width: 800px;
  text-align: center;
}
