* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(240, 238, 238);
  font-family: Roboto;
  display: flex;
  justify-content: center;
  overflow-x: hidden; /* Prevent horizontal scrollbar */
}

.fas.fa-user-circle {
  font-size: 2.5rem; /* Adjust the font-size to your desired size */
}

.banner {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.nav-bar {
  position: fixed;
  width: 100%;
  margin: auto;
  height: 10%;
  color: #167592;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
  padding: 20px;
  transition: background-color 0.3s ease;
}

.nav-bar.scrolled {
  backdrop-filter: blur(5px);
  background-color: #81d0e888; /* Change background color to a darker shade */
}

.left-section {
  display: flex;
  align-items: center;
}

.logo {
  height: 55px;
}

.name {
  margin-left: 15px;
  font-size: 27px;
  font-family: Pacifico;
}

a {
  text-decoration: none;
  color: #167592;
  font-family: Roboto;
}

.banner ul li {
  list-style: none;
  display: inline-block;
  margin: 0 30px;
  position: relative;
}

.banner ul li a {
  text-decoration: none;
  color: #167592;
  text-transform: uppercase;
}

.banner ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: #81d0e8;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.banner ul li:hover::after {
  width: 100%;
}

.dropdown {
  position: relative;
}

.dropdown-content li {
  padding: 10px;
}
.dropdown-user-dropdown li {
  padding: 10px;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropdown-user-dropdown {
  display: block;
}
/* Account info header */
.header1 {
  position: absolute;
  top: 15%;
  left: 500px;
  transform: translateY(-50%);
  text-align: left;
}

.header1 h1 {
  font-size: 1.25rem;
  font-weight: bold;
  color: red;
  margin: 0;
}

#user-icon {
  width: 170px;
  height: 170px;
  position: absolute;
  z-index: 1;
  background-color: blue;
}
/* Card container */
#personalInfo-container {
  position: absolute;
  top: 20%;
  left: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc(100% - 200px);
}

.card {
  background-color: #ffffff;
  width: 700px;
  height: 300px;
  margin: 10px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 0;
  border: 1px solid #ccc;
}
.card h2 {
  font-size: 1.25rem;
  font-weight: bold;
  color: #167592;
  margin-bottom: 10px;
}

/* Transparent buttons */
.photo-container {
  position: absolute;
  top: 9%;
  left: -220px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* personal info Transparent edit button*/
.buttons-container {
  position: absolute;
  top: 3%;
  left: 580px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.transparent-button {
  background-color: transparent;
  border: none;
  color: #f19f13;
  font-family: Roboto;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 5cap;
  width: 120px;
  height: 40px;
}

.transparentt-button:hover {
  text-decoration: underline;
}

/*Personal Info content */
.personal-info {
  font-size: 16px;
  margin-top: 20px;
}
.personal-info p {
  margin-bottom: 30px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
  justify-content: center;
  align-items: center;
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
  max-width: 500px;
  border-radius: 10px;
  position: relative;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content h2 {
  text-align: center;
  margin-bottom: 20px;
}

.modal-content form {
  display: flex;
  flex-direction: column;
}

.modal-content form label {
  margin-top: 10px;
}

.modal-content form input,
.modal-content form textarea {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
}

.modal-content form button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.modal-content form button:hover {
  background-color: #45a049;
}
/*Password card styling*/
#password-container{
  position: absolute;
  top: 70%;
  left: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc(100% - 200px);
}
#password-container .card{
  background-color: #ffffff;
  width: 700px;
  height: 150px;
  margin: 10px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 0;
  border: 1px solid #ccc;
}